* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: #1E1E1E;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.location {
    position: relative;
    width: 493px;
    height: 666px;
    border-radius: 30px;
    background: linear-gradient(152.19deg, rgba(136, 235, 239, 0.9) -0.04%, rgba(83, 91, 230, 0.9) 100%);
}

.location__img {
    opacity: 0.3;
    width: 493px;
    height: 666px;
    border-radius: 30px;
}

.location__wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.location__info {
    margin-top: 48px;
    margin-left: 32px;
}

.location__info-day {
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 16px;
}

.location__info-date {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
}

.location__info-place {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.location__info-place-nav {
    height: 27px;
    width: 27px;
}

.location__info-place-name {
    font-weight: 600;
    font-size: 20px;
    margin-left: 8px;
}

.location__weather {
    margin-left: 32px;
}

.location__weather-icon {
    height: 95px;
    width: 95px;
    margin-bottom: 9px;
}

.location__weather-temperature {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 13px;
}

.location__weather-descriprion {
    font-weight: 700;
    font-size: 30px;
}

.weather {
    width: 520px;
    height: 600px;
    border-radius: 0 25px 25px 0;
    background: #222831;
}

.weather__wrapper {
    margin: 55px 50px 62px 55px;
}

.weather__info {
    font-size: 28px;
    margin-bottom: 316px;
}

.weather__info-precipitation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.weather__info-humidity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.weather__info-wind {
    display: flex;
    justify-content: space-between;
}

.weather__info-name {
    font-weight: 700;
}

.weather__info-value {
    font-weight: 500;
}

.change-location {
    display: flex;
    justify-content: center;
}

.change-location__btn {
    height: 53px;
    width: 415px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90.8deg, rgba(144, 217, 224, 0.9) 0.2%, rgba(84, 96, 230, 0.9) 100%);
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}